$white: #FFFFFF
$black: #000000
$light-grey: #F5F5F5
$dark-grey: #555555
$cyan: #48B3E6
$magenta: #DD009A
$yellow: #F2F23F

html
  font:
    family: 'Droid Serif', Arial, sans-serif
    size: 14px
    weight: normal
  line-height: 20px
  color: $dark-grey
  background-image: url("/img/bg.png")

.main
  margin: 0 auto
  padding: 14px 22px
  width: 800px
  background-color: $light-grey
  background-image: none

h1
  font:
    family: "Droid Sans", Arial, sans-serif
    size: 36px
    weight: bold
  padding: 14px 0
  text-transform: uppercase
  text-shadow: $dark-grey 1px 1px 1px

h1.header
  @extend .main
  text-align: center
  padding: 14px 22px
  background-color: $magenta
  font-size: 22px
  color: $white
  letter-spacing: 1px

p
  padding-bottom: 9px

.cyan
  color: $cyan

.yellow
  color: $yellow

.magenta
  color: $magenta
