%h1.cyan Welcome to the 2010 DP Bake-Off!

.intro
  %h2.yellow I need to...
  .buttons
    %a.button{:href => '/entries/new', :title => "Add an entry"}Add an entry
    %a.button{:href => '/vote', :title => 'Vote'}Vote for stuff
