%h1.cyan Log In
%form{:action => '/login', :method => 'post'}
  %input{:type => 'text', :name => 'name', :id => 'name'}
  @digitalpulp.com
  %br/
  %input{:type => 'submit', :value => 'Log in'}
%p.small Please note there is no user validation of any kind. Kindly refrain from abusing this, thank you.
