!!!
%html
  %head
    %title DP BakeOff
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/jquery-ui-1.8.7.custom.min.js'}
  %body
    = yield
