%h1.yellow Cast your ballot

%form#vote{:action => "/vote", :method => "post"}
  %ol
    %li
      %input{:type => "text", :name => "ballot[name]", :id => "ballot_name", :value => 'Enter your name'}
      @digitalpulp.com
      %p.small Ballots will be kept anonymous. There is no fancy user validation, so please play nicely.
    %li
      Rate entries in each category.
      %p.small Categories are taste, presentation/appearance, and creativity (interpretation of theme).
    %li
      When you're done, hit 
      %span.cyan Vote!
      %p.small Winners will be announced in the conference room at 5pm.

  %input.button{:type => 'submit', :value => 'Vote!'}


%script{:type => 'text/javascript', :src => '/js/jquery-ui-1.8.7.custom.min.js'}
:javascript
  $(function() {
    $('#sortable').sortable({
      update: function(event, ui) {
        $(ui.item[0]).parent().children().each(function(index,child) {
          $(child).children('input').val(index);
        })
      }
    });
    $('#ballot_name').focus(function() {
      if ($(this).val() == 'Enter your name')
        $(this).val('');
    });
    $('#ballot_name').blur(function() {
      if ($(this).val().trim() == '')
        $(this).val('Enter your name');
    });
  })
