%h1 Add a new entry:

- if @entry.errors.any?
  %ul.errors
    = list_of @entry.errors.to_a do |error|
      = error

%p
  %form{:action => "/entries", :method => "post", :enctype=>"multipart/form-data"}
    %label{:for => "entry_name"} New Entry
    %input{:type => "text", :name=> "entry[name]", :id=>"entry_name"}
    %input{:type => "file", :name => "entry[image]"}
    %input{:type => "submit", :value => "Add Entry"}
