%h1.yellow Submit your entry

- if @entry.errors.any?
  .error
    %h3== Oops! The name #{@entry.errors.first[1]}. 

%form#entry{:action => "/entries", :method => "post", :enctype=>"multipart/form-data"}
  .row
    %label{:for => "entry_name"} Name of dish:
    %input{:type => "text", :name=> "entry[name]", :id=>"entry_name"}
  .row
    %label{:for => "entry_image"} Add an image:
    %input{:type => "file", :name => "entry[image]", :id => "entry_image"}
    %p.small A photo will help people remember which entry is which.
  .buttons
    %input.button{:type => "submit", :value => "Add Entry"}

%script{:src => '/entries/entries.js'}
