%h1.yellow And the winners are...
%h3.magenta OMG! So excited!

%h2.cyan Taste Category
.taste
  = partial :'entries/entry', :collection => @taste

%h2.yellow Presentation Category
.presentation
  = partial :'/entries/entry', :collection => @presentation

%h2.magenta Creativity Category
.creativity
  = partial :'entries/entry', :collection => @creativity
