%h1.yellow And the winners are...
%h3.magenta OMG! So excited!

#vote
  #taste
    %h2 Taste
    = partial :'entries/entry', :collection => @taste

  #presentation
    %h2 Presentation
    = partial :'/entries/entry', :collection => @presentation

  #creativity
    %h2 Creativity
    = partial :'entries/entry', :collection => @creativity

  #overall
    %h1 Overall
    = partial :'entries/entry', :collection => @overall

  %h2.magenta Congratulations, and thanks to everyone for participating!
